<table class="table">
  <thead>
    <tr>
      <th>
      <span> Upload New Food Index </span>

      <%= render "csvupload.html", changeset: @changeset,
                              action: user_path(@conn, :csvupload, @user) %>
      </th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Protein</th>
      <th>Fat</th>
      <th>Carbs</th>
      <th>Total Calories</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
<%= for food <- @foods do %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.protein %></td>
      <td><%= food.fat %></td>
      <td><%= food.carbs %></td>
      <td><%= food.calories %></td>
      <td><%= food.quantity %></td>
      <td><span><%= link "Delete Food ONLY IF NECESSARY", to: user_path(@conn, :deletefood, food, @users) %></span><td>
    </tr>
<% end %>
  </tbody>
</table>
