<h2>Listing Users</h2>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.email %></td>
      <td class="text-right">
        <span><%= link "Show", to: user_path(@conn, :show, user), class: "btn btn-default btn-xs" %></span>
      </td>
    </tr>
<% end %>
</tbody>
</table>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Protein</th>
      <th>Fat</th>
      <th>Carbs</th>
      <th>Total Calories</th>
    </tr>
  </thead>
  <tbody>
<%= for food <- @foods do %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.protein %></td>
      <td><%= food.fat %></td>
      <td><%= food.carbs %></td>
      <td><%= food.calories %></td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New User", to: user_path(@conn, :new) %></span>
