<h2>Edit weekday</h2>

<%= render "form_changefood.html", changeset: @changeset, meals: @meals, breakfast: @breakfast, lunch: @lunch, dinner: @dinner,
                        action: user_weekday_path(@conn, :update, @user, @weekday) %>

<span><%= link "Back", to: user_weekday_path(@conn, :index, @user) %></span>
