<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Phauxth - an extensible authentication library for Elixir web apps</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>



<div id="mySidenav" class="sidenav">
<a href="<%= page_path @conn, :index %>">Home</a>
<%= if @current_user do %>
 <a href="<%= user_path(@conn, :index) %>">Users</a>
 <a href="<%= user_path(@conn, :foodindex, @current_user.id) %>">Foods</a>
 <a href="<%= workout_path(@conn, :index) %>">Workouts</a>
 <a href="<%= meal_path @conn, :index %>">Meals</a>
  <a href="<%= user_weekday_path(@conn, :weekindex, @current_user.id) %>">Weeks</a>
 <a href="<%= user_weekday_path(@conn, :index, @current_user.id) %>">Days</a>

 <%= link "Logout", to: session_path(@conn, :delete, @current_user), method: :delete %>
<% else %>
 <a href="<%= user_path @conn, :new %>">New user</a>
 <a href="<%= session_path @conn, :new %>">Login</a>
<% end %>
</div>

<div id="navbar-full">
   <div id="navbar">
   <!--
       navbar-default can be changed with navbar-ct-blue navbar-ct-azzure navbar-ct-red navbar-ct-green navbar-ct-orange
       -->
       <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="important">
         <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
         <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
         <div class="alert alert-success hidden">
           <div class="container">


           </div>
         </div>

         <div class="container">
           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header navbar-right">
             <a class="navbar-brand" href="#gsdk">SSMPA</a>
             <ul class="nav navbar-nav">
             <ul class="nav navbar-nav navbar-right">
               <%= if @current_user do %>
               <a href="<%= user_path(@conn, :show, @current_user.id) %>"><%= @current_user.email %></a>
               <% else %>
               <a href="<%= user_path @conn, :new %>">New user</a>
               <a href="<%= session_path @conn, :new %>">Login</a>
              <% end %>
              </ul>
           </div>

           <!-- Collect the nav links, forms, and other content for toggling -->
         </div><!-- /.container-fluid -->
       </nav>
       <div class="blurred-container">
           <div class="img-src" style="background-image: url('assets/img/bg.jpg')"></div>
       </div>
   </div><!--  end navbar -->

</div> <!-- end menu-dropdown -->



<!-- Use any element to open the sidenav -->


<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
  <body class="overwritten">

    <div class="container" id="render">




      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>






</html>
