<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Phauxth - an extensible authentication library for Elixir web apps</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <style>
        .navbar-full, .navbar {
          margin-left: 200px;
          box-shadow: 5px 5px 5px #888888;
        }
        .sidenav {
          box-shadow: 10px 10px 18px #888888;
        }

        .sidenav, .a {
          color: white;
    text-shadow: 0.2px 0.2px 3px #888888;


        }

        .error{
    			color: red;
    			margin-left: 10px;
    		}

        .valid{
    			color: red;
    			margin-left: 10px;
    		}

    		input.invalid, textarea.invalid{
    			border: 2px solid red;
    		}

    		input.valid, textarea.valid{
    			border: 2px solid green;
    		}

        </style>
  </head>






<div id="mySidenav" class="sidenav">
<%= if @current_user do %>
<%= if @current_user.type == "Admin" do %>
<a href="<%= user_page_path(@conn, :admindash, @current_user.id) %>">Dashboard</a>
 <a href="<%= user_path(@conn, :index) %>">Admin User Panel Index</a>
 <a href="<%= user_path(@conn, :show, @current_user.id) %>">User Panel </a>
<% else %>
<a href="<%= page_path @conn, :index %>">Home</a>
<a href="<%= user_path(@conn, :show, @current_user.id) %>"> User Panel </a>
<% end %>
 <a href="<%= user_path(@conn, :foodindex, @current_user.id) %>">Foods</a>
 <a href="<%= workout_path(@conn, :index) %>">Workouts</a>
 <a href="<%= meal_path @conn, :index %>">Meals</a>
  <a href="<%= user_weekday_path(@conn, :weekindex, @current_user.id) %>">Weeks</a>
 <a href="<%= user_weekday_path(@conn, :index, @current_user.id) %>">Days</a>
<a href="<%= user_path(@conn, :show, @current_user.id) %>"><%= @current_user.email %></a>
 <%= link "Logout", to: session_path(@conn, :delete, @current_user), method: :delete %>


<% else %>
<a href="<%= page_path @conn, :index %>">Home</a>
 <a href="" data-toggle="modal" data-target="#myModal">
   Login
 </a>
 <a href="" data-toggle="modal" data-target="#register">
   Register
 </a>
<% end %>
</div>

<div id="navbar-full">
   <div id="navbar">
   <!--
       navbar-default can be changed with navbar-ct-blue navbar-ct-azzure navbar-ct-red navbar-ct-green navbar-ct-orange
       -->
       <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="important">
         <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
         <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
         <div class="alert alert-success hidden">
           <div class="container">


           </div>
         </div>

         <div class="container">
           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header navbar-right">
             <a class="navbar-brand" href="">SSMPA</a>
             <div class="nav navbar-nav navbar-right">

           </div>

           <!-- Collect the nav links, forms, and other content for toggling -->
         </div><!-- /.container-fluid -->
       </nav>
       <div class="blurred-container">
           <div class="img-src" style="background-image: url('assets/img/bg.jpg')"></div>
       </div>
   </div><!--  end navbar -->

</div> <!-- end menu-dropdown -->






<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
  <body class="overwritten">

    <div class="container" id="render">
      <div class="row">
        <!-- MODAL DISPLAY -->
        <div class="col-md-6">
            <!-- Button trigger modal -->
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Login To SSMPA</h4>
                  </div>
                  <div class="modal-body">
                    <h2>Login</h2>

                    <%= form_for @conn, session_path(@conn, :create), [as: :session], fn f -> %>
                      <%= if f.errors != [] do %>
                        <div class="alert alert-danger">
                          <p>Please check the errors below:</p>
                        </div>
                      <% end %>

                      <div class="form-group">
                        <%= label f, :email, class: "control-label" %>
                        <%= text_input f, :email, class: "form-control" %>
                        <%= error_tag f, :email %>
                      </div>

                      <div class="form-group">
                        <%= label f, :password, class: "control-label" %>
                        <%= password_input f, :password, class: "form-control" %>
                        <%= error_tag f, :password %>
                      </div>

                      <div class="form-group">
                        <%= submit "Login", class: "btn btn-primary" %>
                      </div>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END MODAL DISPLAY -->
          <!-- MODAL DISPLAY -->
          <div class="col-md-6">


              <!-- Modal -->
              <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">Register New Account</h4>
                    </div>
                    <div class="modal-body">
                      <h2>Register</h2>
                      <%= form_for @changeset, user_path(@conn, :create), fn f -> %>
                        <%= if @changeset.action do %>
                          <div class="alert alert-danger">
                            <p>Please check the errors below.</p>
                          </div>
                        <% end %>




                        <div class="form-group">
                          <%= label f, :email, class: "control-label" %>
                          <%= text_input f, :email, class: "form-control" %>
                          <%= error_tag f, :email %>
                          <span class="error" id="error">This field is required</span>
                          </div>
                          <script>



                            $(document).ready(function() {
                              $('#user_email').on('input', function() {
                                console.log("checking email");
                      					var input=$(this);
                                var message = document.getElementById("user_email")
                      					//var re = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
                                var re = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/
                      					var is_email=re.test(input.val());
                      					if(is_email){
                                  message.style.backgroundColor = 'green';
                                  enableSubmit();
                                }
                      					else{
                                  //input.removeClass("valid").addClass("invalid");
                                  message.style.backgroundColor = 'red';
                                  disableSubmit();
                                }
                      				});
                            });

                          function isValid(){
                            console.log("Typing 2");
                          };

                          function enableSubmit(){
                            var submit_button = document.getElementById("submit").style.display = "block";
                            var error = document.getElementById("error").style.display = "none";
                            console.log(document.getElementById("submit"));
                          }

                          function disableSubmit(){
                            var submit_button = document.getElementById("submit").style.display = "none";
                            var error = document.getElementById("error").style.display = "block";
                            console.log(document.getElementById("submit"));
                          }
                          </script>

                        <div class="form-group">
                          <%= label f, :name, class: "control-label" %>
                          <%= text_input f, :name, class: "form-control" %>
                          <%= error_tag f, :name %>
                        </div>
                        <div class="form-group">
                          <%= label f, :type, class: "control-label" %>
                          <%= text_input f, :type, class: "form-control" %>
                          <%= error_tag f, :type %>
                        </div>

                        <div class="form-group">
                          <%= label f, :password, class: "control-label" %>
                          <%= password_input f, :password, class: "form-control" %>
                          <%= error_tag f, :password %>
                        </div>

                        <div class="form-group">
                          <%= label f, :"Referral Email", class: "control-label" %>
                          <%= text_input f, :refemail, class: "form-control" %>
                          <%= error_tag f, :refemail %>
                        </div>

                        <div class="form-group" id="submit">
                          <%= submit "Submit", class: "btn btn-primary" %>
                        </div>
                      <% end %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END MODAL DISPLAY -->
      </div>



      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

  </body>






</html>
