<h2>Edit meal</h2>

<%= render "form_meal.html", changeset: @changeset, foods: @foods, currentfoods: @currentfoods,
                        action: meal_path(@conn, :update, @meal) %>

<span><%= link "Back", to: meal_path(@conn, :index) %></span>
