<h2>Listing meals</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Protein</th>
      <th>Carbs</th>
      <th>Fat</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
<%= for meal <- @meals do %>
    <tr>
      <td> <%= meal.name %> </td>
      <td> <%= meal.protein %> </td>
      <td> <%= meal.carbs %> </td>
      <td> <%= meal.fat %> </td>
      <td> <%= meal.calories %> </td>
      <td class="text-right">
        <span><%= link "Show", to: meal_path(@conn, :show, meal), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: meal_path(@conn, :edit, meal), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: meal_path(@conn, :delete, meal), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New meal", to: meal_path(@conn, :new) %></span>
